@media screen and (min-width: 2560px) {
  .about h2 {
    margin-top: 110px;
    font-size: 60px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    min-width: 1520px;
    height: 641px;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    border-radius: 10px;
  }
  .about-container__content-map__place {
    width: 734px;
    height: 641px;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
  }
  .about-container__content-place h3 {
    margin-top: 60px;
    margin-right: 75px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    height: 80px;
    margin-top: 40px;
    margin-right: 20px;
  }
  .about-container__text {
    min-width: 1520px;
  }
  .about-container__text p {
    min-width: 1520px;
    margin-top: 80px;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
  }
  .about-container__image-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .about-container__image-items img {
    width: 25%;
  }
  .about-container__image-items img:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .about h2 {
    margin-top: 110px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    width: 1340px;
    height: 441px;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    border-radius: 10px;
  }
  .about-container__content-map__place {
    width: 634px;
    height: 100%;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
  }
  .about-container__content-place h3 {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    margin-top: 40px;
    margin-right: 20px;
  }
  .about-container__text {
    width: 1340px;
  }
  .about-container__text p {
    margin-top: 80px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
  }
  .about-container__image-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .about-container__image-items img {
    width: 25%;
  }
  .about-container__image-items img:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about h2 {
    margin-top: 110px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    width: 1340px;
    height: 441px;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    border-radius: 10px;
  }
  .about-container__content-map__place {
    width: 460px;
    height: 100%;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
  }
  .about-container__content-place h3 {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    margin-top: 40px;
    margin-right: 20px;
  }
  .about-container__text {
    width: 1340px;
  }
  .about-container__text p {
    margin-top: 80px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
  }
  .about-container__image-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .about-container__image-items img {
    width: 25%;
  }
  .about-container__image-items img:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about h2 {
    margin-top: 110px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    width: 1340px;
    height: 441px;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    border-radius: 10px;
  }
  .about-container__content-map__place {
    width: 360px;
    height: 100%;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .about-container__content-place h3 {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    margin-top: 40px;
    margin-right: 20px;
  }
  .about-container__text {
    width: 1340px;
  }
  .about-container__text p {
    margin-top: 80px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
  }
  .about-container__image-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .about-container__image-items img {
    width: 25%;
  }
  .about-container__image-items img:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .about br {
    display: none;
  }
  .about h2 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    display: none;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .about-container__content-place h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 20px;
    width: 190px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    width: 190px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    margin-top: 30px;
    margin-right: 10px;
    height: 40px;
  }
  .about-container__text {
    padding-bottom: 40px;
  }
  .about-container__text p {
    padding: 0 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: none;
  }
}
@media (max-width: 413px) {
  .about h2 {
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    background: #E8E8E8;
    border-radius: 10px;
  }
  .about-container__content-map {
    display: none;
  }
  .about-container__content-place {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .about-container__content-place h3 {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h4 {
    margin-top: 20px;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .about-container__content-place__networks {
    display: flex;
    flex-direction: row;
  }
  .about-container__content-place__networks img {
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
  }
  .about-container__text {
    padding-bottom: 40px;
  }
  .about-container__text p {
    padding: 0 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
  }
  .about-container__image {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */