@media screen and (min-width: 2560px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 8%;
    padding-right: 8%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-bottom: -105px;
    padding: 30px;
    width: 45%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    padding: 30px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (max-width: 1683px) and (min-width: 1648px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 8%;
    padding-right: 8%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-bottom: -105px;
    padding: 30px;
    width: 45%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    padding: 30px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (max-width: 1648px) and (min-width: 1400px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 4%;
    padding-right: 4%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-bottom: -105px;
    padding: 30px;
    width: 45%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    padding: 30px;
    width: 45%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 4%;
    padding-right: 4%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 44%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-bottom: -105px;
    padding: 30px;
    width: 44%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    padding: 30px;
    width: 44%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-left: 2%;
    padding-right: 2%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 90%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    padding: 30px;
    width: 90%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    margin-top: 105px;
    padding: 30px;
    width: 90%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-left: 1%;
    padding-right: 1%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-top: -50px;
    padding: 30px;
    width: 95%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    margin-top: 50px;
    padding: 30px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-left: 1%;
    padding-right: 1%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-top: -50px;
    padding: 30px;
    width: 95%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    margin-top: 50px;
    padding: 30px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
}
@media (max-width: 413px) {
  .reviews {
    padding-bottom: 160px;
    background: #E8E8E8;
    margin-top: 160px;
  }
  .reviews-title h3 {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-left: 1%;
    padding-right: 1%;
    gap: 7em;
  }
  .reviews-container__content1 {
    padding: 35px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content1 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content1-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 {
    margin-top: -80px;
    padding: 30px;
    width: 95%;
    min-height: 410px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content2-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 {
    margin-top: 20px;
    padding: 30px;
    width: 95%;
    min-height: 300px;
    border-radius: 10px;
    background-color: white;
  }
  .reviews-container__content3 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3 p {
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews-container__content3-car {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
  }
}
/*# sourceMappingURL=reviews.css.map */