@media screen and (min-width: 2560px) {
  .service {
    margin-top: 160px;
  }
  .service-title h2 {
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .service-title h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion {
    margin-top: 84px;
  }
  .accordion-services__title h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777777;
  }
  .accordion-services__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .accordion-services__body-images img:hover {
    transform: scale(1.2);
  }
  .accordion-services__body-list {
    margin-left: 40px;
  }
  .accordion-services__body-list li {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion-services__body-list p {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service {
    margin-top: 160px;
  }
  .service-title h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .service-title h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion {
    margin-top: 84px;
  }
  .accordion-services__title h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777777;
  }
  .accordion-services__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .accordion-services__body-list {
    margin-left: 40px;
  }
  .accordion-services__body-list li {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion-services__body-list p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
}
@media (min-width: 414px) and (max-width: 767px) {
  .service {
    margin-top: 70px;
  }
  .service-title h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .service-title h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion {
    margin-top: 84px;
  }
  .accordion-services__title h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777777;
  }
  .accordion-services__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .accordion-services__body-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-services__body-images img {
    height: 40vh;
    width: 40vh;
  }
  .accordion-services__body-list {
    margin-top: 20px;
    margin-left: -10px;
  }
  .accordion-services__body-list li {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion-services__body-list p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
}
@media (max-width: 413px) {
  .service {
    margin-top: 70px;
  }
  .service-title h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .service-title h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion {
    margin-top: 84px;
  }
  .accordion-services__title h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777777;
  }
  .accordion-services__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .accordion-services__body-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-services__body-images img {
    height: 40vh;
    width: 40vh;
  }
  .accordion-services__body-list {
    margin-top: 20px;
    margin-left: -10px;
  }
  .accordion-services__body-list li {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
  .accordion-services__body-list p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
}
/*# sourceMappingURL=services.css.map */